<h3>Create an Attraction</h3>

<form action="/create" method="post">
  <input type="text" name="place" value="" placeholder="Place Name">
  <input type="text" name="type_of_place" value="" placeholder="Type of Place">
  <input type="text" name="contributor" value="" placeholder="Enter your name">
  <input type="text" name="notes" value="" placeholder="Any Notes?">
  <input type="submit" value="Add an item">
</form>
